:root {
  --main-font: "Open Sans", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --active-color: #ff6c00;
  --main-light-color: #ffffff;
  --main-dark-color: #303030;
  --secondary-light-color-alpha: rgba(157, 164, 189, 0.6);
  --secondary-light-color: #9da4bd;
  --secondary-dark-color: #555555;
  --light-background-color: #f7f7f7;
}

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ol,
ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

button {
  cursor: pointer;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.section {
  padding-top: 130px;
  padding-bottom: 130px;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

body {
  font-family: var(--main-font);
}

.top-background-color {
  background-color: #191c26;
}

/* ======================== КОМПОНЕНТИ ======================== */

.display-flex {
  display: flex;
}

.modal-btn {
  padding: 11px 19px;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  background-color: transparent;
  border: 1px solid #ff6c00;
  border-radius: 25px;
}

.modal-btn-dark {
  color: var(--main-dark-color);
}
.modal-btn-dark:hover,
.modal-btn-dark:focus {
  background-color: var(--active-color);
  color: var(--main-light-color);
}
.modal-btn-light {
  color: var(--main-light-color);
}
.modal-btn-light:hover,
.modal-btn-light:focus {
  background-color: var(--active-color);
  color: var(--main-light-color);
}

.btn-centr {
  justify-content: center;
}

.above-title {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  align-items: center;
}

.above-title::before {
  display: block;
  width: 60px;
  height: 1px;
  content: "";
  margin-right: 20px;
  background-color: rgba(157, 164, 189, 0.6);
}

.secondary-title {
  font-size: 42px;
  line-height: 49px;
  letter-spacing: 0.05em;
}

.title-dark {
  color: var(--main-dark-color);
  margin-bottom: 20px;
}

.title-dark::before {
  background-color: var(--main-dark-color);
}

.title-light {
  color: var(--main-light-color);
  margin-bottom: 44px;
}

.subtitle {
  font-size: 18px;
  line-height: 1.66;
  letter-spacing: 0.02em;
  margin-bottom: 20px;
  color: var(--secondary-dark-color);
}

.paragraph {
  font-size: 14px;
  line-height: 26px;
  letter-spacing: 0.02em;
  margin-bottom: 40px;
  color: var(--secondary-dark-color);
}

.content-text-container {
  width: 480px;
}

.elements-container {
  flex-basis: 50%;
}

.elements-flex-container {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

/* ======================== /КОМПОНЕНТИ ======================== */

/* ======================== ШАПКА ======================== */
.header {
  padding-top: 32px;
  padding-bottom: 32px;
}

.header-container {
  display: flex;
  align-items: center;
}

.top-nav {
  display: flex;
  align-items: center;
}

.menu-list {
  display: flex;
  align-items: center;
}

.main-logo {
  margin-right: 71px;
}

.menu-item:not(:last-child) {
  margin-right: 40px;
}

.menu-link {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  color: var(--main-light-color);
}
.menu-link:hover,
.menu-link:focus {
  color: var(--active-color);
}
.main-number {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  color: var(--main-light-color);
  margin-left: auto;
  margin-right: 40px;
}
.main-number:hover,
.main-number:focus {
  color: var(--active-color);
}
/* ======================== /ШАПКА ======================== */

/* ======================== ГЕРОЙ ======================== */

.hero {
  padding-bottom: 40px;
}
.left-hero {
  width: 115px;
}

.right-hero {
  flex-grow: 1;
  padding-top: 154px;
  padding-left: 100px;
  padding-right: 55px;
  background-image: linear-gradient(
      rgba(25, 28, 38, 0.2),
      rgba(25, 28, 38, 0.2)
    ),
    url(../img/hero-background.jpg);
  background-size: cover;
  background-color: #303030;
}

.above-title {
  margin-bottom: 20px;
}

.btn-hero {
  justify-content: end;
}

.soc-net-link {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: var(--main-dark-color);
}
.soc-net-link:hover,
.soc-net-link:active {
  color: var(--active-color);
}
.hero-above-title {
  margin-right: 20px;
  color: var(--secondary-light-color-alpha);
}
.main-title {
  font-weight: 700;
  font-size: 72px;
  line-height: 1.18;
  letter-spacing: 0.05em;
  margin-bottom: 20px;
}

.hero-subtitle {
  width: 380px;
  margin-bottom: 142px;
  color: var(--secondary-light-color);
}

.btn-hero-item {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-align: right;
  letter-spacing: 0.1em;
  margin-bottom: 49px;
  background-color: transparent;
  color: rgba(157, 164, 189, 0.6);
  border: none;
}
.btn-hero-item:hover,
.btn-hero-item:focus {
  color: var(--main-light-color);
}
/* ======================== /ГЕРОЙ ======================== */

/* ======================== ПРО НАС ======================== */
.about-img-container {
  margin-right: 64px;
}

/* ======================== /ПРО НАС ======================== */

/* ======================== ПРАЙСЛИСТ ======================== */
.pricelist {
  background-color: #191c26;
}

.pricelist-above-title {
  color: var(--secondary-light-color-alpha);
}

.pricelist-table-item {
  color: var(--secondary-light-color);
}

.pricelist-table {
  width: 585px;
}

.pricelist-table-container {
  margin-bottom: 50px;
}
/* ======================== /ПРАЙСЛИСТ ======================== */

/* ======================== ЧОМУ ЙДУТЬ ДО НАС ======================== */
.to-us-list-item {
  width: 170px;
  min-height: 134px;
  padding: 21px;
  background-color: var(--light-background-color);
}

.to-us-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  width: 370px;
  margin: 0 auto;
}

.to-us-list-item:nth-child(2n) {
  margin-top: 30px;
}

.to-us-list-title {
  font-weight: 700;
  font-size: 42px;
  line-height: 1.35;
  text-align: center;
  letter-spacing: 0.05em;
  color: var(--main-dark-color);
}

.plus {
  font-weight: 600;
  font-size: 16px;
  line-height: 57px;
  vertical-align: top;
  color: var(--active-color);
}

.to-us-list-text {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-align: center;
  color: var(--main-dark-color);
}
/* ======================== /ЧОМУ ЙДУТЬ ДО НАС ======================== */

/* ======================== НАШІ МАЙСТРИ ======================== */
.masters {
  background-color: var(--light-background-color);
}

.masters-title {
  margin-bottom: 44px;
}

.masters-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.masters-list-item {
  width: calc((100% - 60px) / 3);
}

.masters-list-title {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.38;
  text-align: center;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.masters-list-text {
  font-size: 14px;
  line-height: 1.35;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--active-color);
  margin-bottom: 30px;
}

.masters-list-item-container {
  padding-top: 30px;
}

.masters-social-list {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.masters-social-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #ffffff;
}

/* .masters-social-list-link:hover,
.masters-social-list-link:focus {
  background-color: #d4d4d4;
} */

.masters-social-list-icon {
  fill: var(--main-dark-color);
}

.masters-social-list-link:hover .masters-social-list-icon,
.masters-social-list-link:focus .masters-social-list-icon {
  fill: var(--active-color);
}

/* ======================== /НАШІ МАЙСТРИ ======================== */

/* ======================== ГАЛЕРЕЯ ======================== */
.gallery-title {
  display: none;
}

.gallery-above-title {
  display: flex;
  margin-bottom: 44px;
}
/* ======================== /ГАЛЕРЕЯ ======================== */

/* ======================== КОНТАКТИ ======================== */
.cont-section {
  background-color: #191c26;
}

.cont-details-list-link {
  font-style: normal;
  color: var(--secondary-light-color);
}

.cont-details-above-title {
  margin-bottom: 20px;
}

.cont-details-above-text {
  color: var(--secondary-light-color);
}

/* ======================== /КОНТАКТИ ======================== */

/* ======================== ФУТЕР ======================== */
.copyright {
  text-transform: capitalize;
  color: var(--secondary-light-color);
}
/* ======================== /ФУТЕР ======================== */ ;
