<section class="about section dark-text" id="about">
  <div class="about__content">
    <p class="about__label label">about</p>

    <h2
      class="about__title title"
      data-aos="fade-left"
      data-aos-easing="ease-out-quart"
      data-aos-duration="600"
    >
      The Best Barbershop in Your City
    </h2>

    <p
      class="about__subtitle dark-second-text"
      data-aos="fade-up"
      data-aos-easing="ease-out-quad"
      data-aos-duration="600"
    >
      If you want to add more confidence to your image, you are definitely in
      the right place.
    </p>

    <p
      class="about__description dark-second-text"
      data-aos="fade-up"
      data-aos-easing="ease-out-quad"
      data-aos-duration="600"
      data-aos-delay="100"
    >
      We are a team that never rests on its laurels and yearns for change. And
      once you fall into the hands of our master, you will never be the same
      again. We are a team that is always on the same wavelength with clients.
      Therefore, we are always ready to improve everyone who comes to us!
    </p>

    <button class="cta-btn">book a service</button>
  </div>

  <ul class="about__images">
    <li class="about__image-item">
      <picture>
        <source
          srcset="
            /img/main-page/about/haircut-beard-tablet.webp    1x,
            /img/main-page/about/haircut-beard-tablet@2x.webp 2x,
            /img/main-page/about/haircut-beard-tablet@3x.webp 3x
          "
          media="(max-width: 1279px)"
          type="image/webp"
        />
        <source
          srcset="
            /img/main-page/about/haircut-beard-desktop.webp    1x,
            /img/main-page/about/haircut-beard-desktop@2x.webp 2x,
            /img/main-page/about/haircut-beard-desktop@3x.webp 3x
          "
          media="(min-width: 1280px)"
          type="image/webp"
        />
        <img
          class="about__image"
          src="/img/main-page/about/haircut-beard-tablet.webp"
          alt="Haircut of a beard"
          loading="lazy"
        />
      </picture>
    </li>

    <li class="about__image-item">
      <picture>
        <source
          srcset="
            /img/main-page/about/haircut-head-tablet.webp    1x,
            /img/main-page/about/haircut-head-tablet@2x.webp 2x,
            /img/main-page/about/haircut-head-tablet@3x.webp 3x
          "
          media="(max-width: 1279px)"
          type="image/webp"
        />

        <source
          srcset="
            img/main-page/about/haircut-head-desktop.webp    1x,
            img/main-page/about/haircut-head-desktop@2x.webp 2x,
            img/main-page/about/haircut-head-desktop@3x.webp 3x
          "
          media="(min-width: 1280px)"
          type="image/webp"
        />

        <img
          class="about__image"
          src="/img/main-page/about/haircut-head-tablet.webp"
          alt="Haircut of the head"
          loading="lazy"
        />
      </picture>
    </li>
  </ul>
</section>
