<section class="book-service section light-text">
  <h2
    class="book-service__title title"
    data-aos="fade-right"
    data-aos-easing="ease-out-quart"
    data-aos-duration="600"
  >
    Book a Service
  </h2>

  <form class="book-service__form" action="#" method="POST">
    <div class="book-service__form-group">
      <input
        type="text"
        id="name"
        name="name"
        class="book-service__input"
        placeholder="Name"
        autocomplete="name"
        required
      />
      <label for="name" class="book-service__label">Name*</label>
    </div>

    <div class="book-service__form-group">
      <input
        type="tel"
        id="telephone"
        name="telephone"
        class="book-service__input"
        placeholder="Telephone"
        autocomplete="tel"
        required
      />
      <label for="telephone" class="book-service__label">Telephone*</label>
    </div>

    <div class="book-service__form-group">
      <textarea
        id="message"
        name="message"
        class="book-service__textarea"
        placeholder="Message"
      ></textarea>
      <label for="message" class="book-service__label">Message</label>
    </div>

    <button type="submit" class="book-service__button cta-btn">Send</button>
  </form>
</section>
