<section class="contacts section light-second-text" id="contacts">
  <h2
    class="contacts__title title light-text"
    data-aos="fade-right"
    data-aos-easing="ease-out-quart"
    data-aos-duration="600"
    data-aos-delay="200"
  >
    Contacts
  </h2>

  <address class="contacts__info">
    <ul class="contacts__list">
      <li
        class="contacts__item"
        data-aos="fade-in"
        data-aos-easing="ease-out-quad"
        data-aos-duration="600"
      >
        <svg class="contacts__icon" width="24px" height="24px">
          <use href="/img/sprite.svg#icon-map-pin"></use>
        </svg>

        <a
          class="contacts__link"
          href="https://maps.app.goo.gl/obivjfqGkB93GZBMA"
          target="_blank"
          rel="noopener noreferrer"
        >
          Main Street, 7A, Kyiv, 08132
        </a>
      </li>

      <li
        class="contacts__item"
        data-aos="fade-in"
        data-aos-easing="ease-out-quad"
        data-aos-duration="600"
      >
        <svg class="contacts__icon" width="24px" height="24px">
          <use href="/img/sprite.svg#icon-phone"></use>
        </svg>

        <a
          class="contacts__link"
          href="tel:+380441111111"
          target="_blank"
          rel="noopener noreferrer"
        >
          +38 044 111 11 11
        </a>
      </li>

      <li
        class="contacts__item"
        data-aos="fade-in"
        data-aos-easing="ease-out-quad"
        data-aos-duration="600"
      >
        <svg class="contacts__icon" width="24px" height="24px">
          <use href="/img/sprite.svg#icon-mail"></use>
        </svg>

        <a
          class="contacts__link"
          href="mailto:barbershop@email.com"
          target="_blank"
          rel="noopener noreferrer"
        >
          barbershop@email.com
        </a>
      </li>
    </ul>
  </address>

  <div class="contacts__hours-wrapper">
    <p class="contacts__label label light-text">working hours</p>
    <p
      class="contacts__hours"
      data-aos="fade-in"
      data-aos-easing="ease-out-quad"
      data-aos-duration="600"
    >
      Daily from 9:00 AM till 22:00 PM
    </p>
  </div>
</section>
