<footer class="footer section">
  <p class="footer__copyright light-alpha-text">
    <span>&copy;</span>Copyright 2024
  </p>

  <ul class="footer__socials socials">
    <li>
      <a
        class="footer__social-link social-link"
        href="https://www.instagram.com/"
        target="_blank"
        rel="noopener noreferrer"
        >Instagram</a
      >
    </li>
    <li>
      <a
        class="footer__social-link social-link"
        href="https://www.youtube.com/"
        target="_blank"
        rel="noopener noreferrer"
        >Youtube</a
      >
    </li>
  </ul>
</footer>
