<section class="gallery section">
  <p class="gallery__label label">
    In Latin, &quot;barba&quot; means &quot;beard&quot;.
  </p>
  <h2 class="gallery__title visually-hidden">Gallery</h2>

  <ul class="gallery__list">
    <li class="gallery__item">
      <picture>
        <source
          srcset="
            /img/main-page/gallery/gallery-image-25@1x.webp 1x,
            /img/main-page/gallery/gallery-image-25@2x.webp 2x,
            /img/main-page/gallery/gallery-image-25@3x.webp 3x
          "
          type="image/webp"
        />
        <img
          src="/img/main-page/gallery/gallery-image-25@1x.webp"
          alt="Barber cutting hair"
          class="gallery__image"
          loading="lazy"
          data-aos="zoom-out"
          data-aos-easing="ease-out-sine"
          data-aos-duration="600"
          data-aos-delay="200"
        />
      </picture>
    </li>
    <li class="gallery__item">
      <picture>
        <source
          srcset="
            /img/main-page/gallery/gallery-image-26@1x.webp 1x,
            /img/main-page/gallery/gallery-image-26@2x.webp 2x,
            /img/main-page/gallery/gallery-image-26@3x.webp 3x
          "
          type="image/webp"
        />
        <img
          src="/img/main-page/gallery/gallery-image-26@1x.webp"
          alt="Barber shaving customer"
          class="gallery__image"
          loading="lazy"
          data-aos="zoom-out"
          data-aos-easing="ease-out-sine"
          data-aos-duration="600"
          data-aos-delay="300"
        />
      </picture>
    </li>
    <li class="gallery__item">
      <picture>
        <source
          srcset="
            /img/main-page/gallery/gallery-image-27@1x.webp 1x,
            /img/main-page/gallery/gallery-image-27@2x.webp 2x,
            /img/main-page/gallery/gallery-image-27@3x.webp 3x
          "
          type="image/webp"
        />
        <img
          src="/img/main-page/gallery/gallery-image-27@1x.webp"
          alt="Barber preparing client"
          class="gallery__image"
          loading="lazy"
          data-aos="zoom-out"
          data-aos-easing="ease-out-sine"
          data-aos-duration="600"
          data-aos-delay="400"
        />
      </picture>
    </li>
    <li class="gallery__item">
      <picture>
        <source
          srcset="
            /img/main-page/gallery/gallery-image-28@1x.webp 1x,
            /img/main-page/gallery/gallery-image-28@2x.webp 2x,
            /img/main-page/gallery/gallery-image-28@3x.webp 3x
          "
          type="image/webp"
        />
        <img
          src="/img/main-page/gallery/gallery-image-27@1x.webp"
          alt="Barber shaving customer"
          class="gallery__image"
          loading="lazy"
          data-aos="zoom-out"
          data-aos-easing="ease-out-sine"
          data-aos-duration="600"
          data-aos-delay="500"
        />
      </picture>
    </li>
  </ul>
</section>
