<header class="header section dark">
  <a class="header__logo" href="./index.html">
    <svg class="header__logo-icon" height="55" width="69">
      <use href="./img/sprite.svg#icon-logo"></use>
    </svg>
  </a>

  <nav class="header__nav">
    <ul class="header__nav-list">
      <li class="header__nav-item">
        <a class="header__nav-link" href="#about">About</a>
      </li>
      <li class="header__nav-item">
        <a class="header__nav-link" href="#pricelist">Services and Prices</a>
      </li>
      <li class="header__nav-item">
        <a class="header__nav-link" href="#">Barbers</a>
      </li>
      <li class="header__nav-item">
        <a class="header__nav-link" href="#">Contacts</a>
      </li>
    </ul>
  </nav>

  <div class="header__info">
    <a class="header__phone" href="tel:+380441111111">+38 044 111 11 11</a>
    <button class="cta-btn" type="button">book a Service</button>
  </div>

  <button class="header__burger burger-btn" type="button">
    <svg width="40" height="40">
      <use href="./img/sprite.svg#burger-button-open-menu-mobile"></use>
    </svg>
  </button>
</header>
