<section class="hero section light-text">
  <ul class="hero__socials">
    <li>
      <a class="hero__social-link" href="">Instagram</a>
    </li>
    <li>
      <a class="hero__social-link" href="">Youtube</a>
    </li>
  </ul>

  <div class="hero__content">
    <p class="hero__label label light-alpha-text">
      A hair salon for men in Kyiv
    </p>

    <h1
      class="hero__title"
      data-aos="fade-right"
      data-aos-easing="ease-out-quart"
      data-aos-duration="600"
    >
      Barber Shop
    </h1>

    <p
      class="hero__subtitle light-second-text"
      data-aos="fade-right"
      data-aos-easing="ease-out-quart"
      data-aos-duration="600"
      data-aos-delay="200"
    >
      We are experts in trendy men's haircuts. We work quickly, carefully, and
      tastefully.
    </p>
  </div>

  <div class="hero__slider">
    <button class="hero__slider-btn" type="button">Back</button>
    <button class="hero__slider-btn" type="button" disabled>Next</button>
  </div>
</section>
