<section class="hero section light-text hero-section-js">
  <ul class="hero__socials socials">
    <li>
      <a
        class="hero__social-link social-link"
        href="https://www.instagram.com/"
        target="_blank"
        rel="noopener noreferrer"
        >Instagram</a
      >
    </li>
    <li>
      <a
        class="hero__social-link social-link"
        href="https://www.youtube.com/"
        target="_blank"
        rel="noopener noreferrer"
        >Youtube</a
      >
    </li>
  </ul>

  <div class="hero__content">
    <p class="hero__label label light-alpha-text">
      A hair salon for men in Kyiv
    </p>

    <h1
      class="hero__title"
      data-aos="fade-right"
      data-aos-easing="ease-out-quart"
      data-aos-duration="600"
    >
      Barber Shop
    </h1>

    <p
      class="hero__subtitle light-second-text"
      data-aos="fade-right"
      data-aos-easing="ease-out-quart"
      data-aos-duration="600"
      data-aos-delay="200"
    >
      We are experts in trendy men's haircuts. We work quickly, carefully, and
      tastefully.
    </p>
  </div>

  <div class="hero__slider">
    <ul class="hero__slides"></ul>

    <button class="hero__slider-btn hero-slider-btn-prev-js" type="button">
      Back
    </button>
    <button class="hero__slider-btn hero-slider-btn-next-js" type="button">
      Next
    </button>
  </div>
</section>
