<section class="masters section dark-text" id="masters">
  <p class="masters__label label">for true connoisseurs of the atmosphere</p>
  <h2
    class="masters__title title"
    data-aos="fade-right"
    data-aos-easing="ease-out-quart"
    data-aos-duration="600"
  >
    Our Barbers
  </h2>

  <ul class="masters__list">
    <li class="masters__item">
      <div class="masters__thumb">
        <picture>
          <source
            srcset="
              /img/main-page/barbers/john-smith@1x.webp 1x,
              /img/main-page/barbers/john-smith@2x.webp 2x,
              /img/main-page/barbers/john-smith@3x.webp 3x
            "
            type="image/webp"
          />

          <img
            src="/img/main-page/barbers/john-smith@1x.webp"
            alt="John Smith cuts hair"
            loading="lazy"
            data-aos="zoom-out"
            data-aos-easing="ease-out-sine"
            data-aos-duration="600"
            data-aos-delay="200"
          />
        </picture>
      </div>

      <h3 class="masters__name">John Smith</h3>

      <p class="masters__role">Extreme Barber</p>

      <ul class="masters__socials">
        <li class="masters__social-item">
          <a href="#" class="masters__social-link">
            <svg class="masters__social-icon" width="20px" height="20px">
              <use href="/img/sprite.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li class="masters__social-item">
          <a href="#" class="masters__social-link">
            <svg class="masters__social-icon" width="20px" height="20px">
              <use href="/img/sprite.svg#icon-twitter"></use>
            </svg>
          </a>
        </li>
        <li class="masters__social-item">
          <a href="#" class="masters__social-link">
            <svg class="masters__social-icon" width="20px" height="20px">
              <use href="/img/sprite.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
        <li class="masters__social-item">
          <a href="#" class="masters__social-link">
            <svg class="masters__social-icon" width="20px" height="20px">
              <use href="/img/sprite.svg#icon-linkedin"></use>
            </svg>
          </a>
        </li>
      </ul>
    </li>

    <li class="masters__item">
      <div class="masters__thumb">
        <picture>
          <source
            srcset="
              /img/main-page/barbers/michele-doe@1x.webp 1x,
              /img/main-page/barbers/michele-doe@2x.webp 2x,
              /img/main-page/barbers/michele-doe@3x.webp 3x
            "
            type="image/webp"
          />

          <img
            src="/img/main-page/barbers/michele-doe@1x.webp"
            alt="Michele Doe cuts hair"
            loading="lazy"
            data-aos="zoom-out"
            data-aos-easing="ease-out-sine"
            data-aos-duration="600"
            data-aos-delay="300"
          />
        </picture>
      </div>

      <h3 class="masters__name">Michele Doe</h3>

      <p class="masters__role">Extreme Barber</p>

      <ul class="masters__socials">
        <li class="masters__social-item">
          <a href="#" class="masters__social-link">
            <svg class="masters__social-icon" width="20px" height="20px">
              <use href="/img/sprite.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li class="masters__social-item">
          <a href="#" class="masters__social-link">
            <svg class="masters__social-icon" width="20px" height="20px">
              <use href="/img/sprite.svg#icon-twitter"></use>
            </svg>
          </a>
        </li>
        <li class="masters__social-item">
          <a href="#" class="masters__social-link">
            <svg class="masters__social-icon" width="20px" height="20px">
              <use href="/img/sprite.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
        <li class="masters__social-item">
          <a href="#" class="masters__social-link">
            <svg class="masters__social-icon" width="20px" height="20px">
              <use href="/img/sprite.svg#icon-linkedin"></use>
            </svg>
          </a>
        </li>
      </ul>
    </li>

    <li class="masters__item">
      <div class="masters__thumb">
        <picture>
          <source
            srcset="
              /img/main-page/barbers/alan-black@1x.webp 1x,
              /img/main-page/barbers/alan-black@2x.webp 2x,
              /img/main-page/barbers/alan-black@3x.webp 3x
            "
            type="image/webp"
          />

          <img
            src="/img/main-page/barbers/alan-black@1x.webp"
            alt="Alan Black cuts hair"
            loading="lazy"
            data-aos="zoom-out"
            data-aos-easing="ease-out-sine"
            data-aos-duration="600"
            data-aos-delay="400"
          />
        </picture>
      </div>

      <h3 class="masters__name">Alan Black</h3>

      <p class="masters__role">Extreme Barber</p>

      <ul class="masters__socials">
        <li class="masters__social-item">
          <a href="#" class="masters__social-link">
            <svg class="masters__social-icon" width="20px" height="20px">
              <use href="/img/sprite.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li class="masters__social-item">
          <a href="#" class="masters__social-link">
            <svg class="masters__social-icon" width="20px" height="20px">
              <use href="/img/sprite.svg#icon-twitter"></use>
            </svg>
          </a>
        </li>
        <li class="masters__social-item">
          <a href="#" class="masters__social-link">
            <svg class="masters__social-icon" width="20px" height="20px">
              <use href="/img/sprite.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
        <li class="masters__social-item">
          <a href="#" class="masters__social-link">
            <svg class="masters__social-icon" width="20px" height="20px">
              <use href="/img/sprite.svg#icon-linkedin"></use>
            </svg>
          </a>
        </li>
      </ul>
    </li>
  </ul>
</section>
