<div class="mobile-menu mobile-menu-js" aria-hidden="true">
  <button
    class="mobile-menu__close-btn close-btn mobile-menu__close-btn-js"
    aria-label="Close menu"
  >
    <svg class="close-icon" width="18px" height="18px">
      <use href="/img/sprite.svg#icon-close"></use>
    </svg>
  </button>

  <nav class="mobile-menu__nav">
    <ul class="mobile-menu__nav-list">
      <li class="mobile-menu__nav-item">
        <a class="mobile-menu__nav-link mobile-menu__link-js" href="#about"
          >About</a
        >
      </li>
      <li class="mobile-menu__nav-item">
        <a class="mobile-menu__nav-link mobile-menu__link-js" href="#prices"
          >Services and Prices</a
        >
      </li>
      <li class="mobile-menu__nav-item">
        <a class="mobile-menu__nav-link mobile-menu__link-js" href="#masters"
          >Barbers</a
        >
      </li>
      <li class="mobile-menu__nav-item">
        <a class="mobile-menu__nav-link mobile-menu__link-js" href="#contacts"
          >Contacts</a
        >
      </li>
    </ul>
  </nav>

  <div class="mobile-menu__info">
    <a
      class="mobile-menu__phone"
      href="tel:+380441111111"
      rel="noopener noreferrer"
      >+38 044 111 11 11</a
    >
    <button class="cta-btn" type="button">book a Service</button>
  </div>

  <div class="mobile-menu__socials-wrapper">
    <ul class="mobile-menu__socials socials">
      <li>
        <a
          class="mobile-menu__social-link social-link"
          href="https://www.instagram.com/"
          target="_blank"
          rel="noopener noreferrer"
          >Instagram</a
        >
      </li>
      <li>
        <a
          class="mobile-menu__social-link social-link"
          href="https://www.youtube.com/"
          target="_blank"
          rel="noopener noreferrer"
          >Youtube</a
        >
      </li>
    </ul>
  </div>
</div>
