<nav class="mobile-menu mobile-menu-js" aria-hidden="true">
  <button
    class="mobile-menu__close-btn close-btn mobile-menu__close-btn-js"
    aria-label="Close menu"
  >
    <svg class="close-icon" width="18px" height="18px">
      <use href="/img/sprite.svg#icon-close"></use>
    </svg>
  </button>

  <ul class="mobile-menu__nav">
    <li class="mobile-menu__nav-item"><a href="#about">About</a></li>
    <li class="mobile-menu__nav-item">
      <a href="#prices">Services and Prices</a>
    </li>
    <li class="mobile-menu__nav-item"><a href="#masters">Barbers</a></li>
    <li class="mobile-menu__nav-item"><a href="#contacts">Contacts</a></li>
  </ul>
</nav>
