<section class="prices section light-text" id="prices">
  <p class="about__label label light-alpha-text">
    Spend time in the company of the best craftsmen
  </p>

  <h2
    class="prices__title title"
    data-aos="fade-right"
    data-aos-easing="ease"
    data-aos-duration="600"
  >
    Services and Prices
  </h2>

  <table class="prices__table">
    <tbody class="prices__body light-second-text">
      <tr
        class="prices__row"
        data-aos="zoom-out-up"
        data-aos-easing="ease"
        data-aos-duration="600"
        data-aos-offset="10"
      >
        <td class="prices__cell">Men's Haircut</td>
        <td class="prices__cell">from 300 UAH</td>
      </tr>
      <tr
        class="prices__row"
        data-aos="zoom-out-up"
        data-aos-easing="ease"
        data-aos-duration="600"
        data-aos-offset="10"
      >
        <td class="prices__cell">Beard Trim</td>
        <td class="prices__cell">from 200 UAH</td>
      </tr>
      <tr
        class="prices__row"
        data-aos="zoom-out-up"
        data-aos-easing="ease"
        data-aos-duration="600"
        data-aos-offset="10"
      >
        <td class="prices__cell">Mustache Trim</td>
        <td class="prices__cell">from 200 UAH</td>
      </tr>
      <tr
        class="prices__row"
        data-aos="zoom-out-up"
        data-aos-easing="ease"
        data-aos-duration="600"
        data-aos-offset="10"
      >
        <td class="prices__cell">Straight Razor Shave</td>
        <td class="prices__cell">from 200 UAH</td>
      </tr>
      <tr
        class="prices__row"
        data-aos="zoom-out-up"
        data-aos-easing="ease"
        data-aos-duration="600"
        data-aos-offset="10"
      >
        <td class="prices__cell">Trainee Haircut</td>
        <td class="prices__cell">from 50 UAH</td>
      </tr>
      <tr
        class="prices__row"
        data-aos="zoom-out-up"
        data-aos-easing="ease"
        data-aos-duration="600"
        data-aos-offset="10"
      >
        <td class="prices__cell">Buzz Cut</td>
        <td class="prices__cell">from 200 UAH</td>
      </tr>
      <tr
        class="prices__row"
        data-aos="zoom-out-up"
        data-aos-easing="ease"
        data-aos-duration="600"
        data-aos-offset="10"
      >
        <td class="prices__cell">Kids Haircut (&LT;12 y.o.)</td>
        <td class="prices__cell">from 300 UAH</td>
      </tr>
      <tr
        class="prices__row"
        data-aos="zoom-out-up"
        data-aos-easing="ease"
        data-aos-duration="600"
        data-aos-offset="10"
      >
        <td class="prices__cell">Gray Coverage</td>
        <td class="prices__cell">from 200 UAH</td>
      </tr>
    </tbody>
  </table>

  <button class="prices-cta cta-btn">book a service</button>
</section>
