<div class="success-modal modal success-modal-js" aria-hidden="true">
  <button
    class="success-modal__close-btn close-btn modal-close-btn-js"
    aria-label="Close menu"
  >
    <svg class="close-icon" width="18px" height="18px">
      <use href="/img/sprite.svg#icon-close"></use>
    </svg>
  </button>

  <h2 class="success-modal__title title">Thank you for booking!</h2>
  <p class="success-modal__text">
    We will contact you soon to confirm your appointment.
  </p>

  <button class="cta-btn success-modal-btn success-modal-btn-js">Close</button>
</div>
