<section class="why-use section dark-text" id="why-use">
  <div class="why-use__content">
    <p class="why-use__label label">Old school</p>
    <h2
      class="why-use__title title"
      data-aos="fade-left"
      data-aos-easing="ease"
      data-aos-duration="600"
    >
      Why do they come to us?
    </h2>

    <p
      class="why-use__subtitle dark-second-text"
      data-aos="fade-up"
      data-aos-easing="ease"
      data-aos-duration="600"
    >
      Only good things are said about us. But it is better to see and feel 1
      time than to read 10 times.
    </p>
  </div>

  <ul class="why-us__stats-list">
    <li
      class="why-use__stat-item"
      data-aos="zoom-out"
      data-aos-easing="ease"
      data-aos-duration="600"
      data-aos-delay="200"
    >
      <p class="why-us__stat-number">600<sup>+</sup></p>
      <p class="why-us__stat-description">Satisfied Customers per Day</p>
    </li>
    <li
      class="why-use__stat-item"
      data-aos="zoom-out"
      data-aos-easing="ease"
      data-aos-duration="600"
      data-aos-delay="300"
    >
      <p class="why-us__stat-number">50<sup>+</sup></p>
      <p class="why-us__stat-description">Excellent Service Awards</p>
    </li>
    <li
      class="why-use__stat-item"
      data-aos="zoom-out"
      data-aos-easing="ease"
      data-aos-duration="600"
      data-aos-delay="400"
    >
      <p class="why-us__stat-number">20<sup>+</sup></p>
      <p class="why-us__stat-description">The Best Barbers of Kyiv</p>
    </li>
    <li
      class="why-use__stat-item"
      data-aos="zoom-out"
      data-aos-easing="ease"
      data-aos-duration="600"
      data-aos-delay="500"
    >
      <p class="why-us__stat-number">100<sup>+</sup></p>
      <p class="why-us__stat-description">Gifts for Regular Customers</p>
    </li>
  </ul>
</section>
